@import "../../utils/variables.scss";

.main__input {
    width: 710px;
    height: 32px;
    font-size: 16px;
    border: 1px solid $pantoneCoolGray7C;
    border-radius: 8px;
    padding-left: 8px;
    margin-top: 16px;
    margin-bottom: 8px;
    color: $pantoneNeutralBlackC;
}

.main__input::placeholder {
    color: $pantoneCoolGray11C;
}

.main__input:focus {
    outline: none;
    border: 1px solid $pantoneBlue072C;
}

.main__input:hover {
    border: 1px solid $pantoneBlue072C;
}