$black: rgb(45, 41, 38);
$module: 8px;
$supermodule: 32px;

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  box-sizing: border-box;
	vertical-align: baseline;
}

.weventure {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  max-width: 600px;
  margin: $module auto;
  color: $black;
  .weventure__title {
    font-size: 24px;
    font-weight: bold;
    margin-top: $module;
  }
  .weventure__input {
    width: 100%;
    margin-top: $module * 2;
    border: 1px solid $black;
    border-radius: $module;
    height: $supermodule;
    padding-left: $module;
  }
  .weventure__list {
    width: 100%;
    margin-top: $module;
    list-style: none;
    border: 1px solid $black;
    border-radius: $module;
  }
  .weventure__placeholder {
    width: 100%;
    margin-top: $module;
    border: 1px solid $black;
    border-radius: $module;
    height: 32px;
    line-height: 28px;
    background-color: lightgray;
    font-size: 16px;
    padding-left: 8px;
  }
}

.weventure__input:focus {
  outline: none;
  border: 1px solid blue;
}

.weventure__input::placeholder {
  color: gray;
}

.list__task {
  border-top: 1px solid $black;
}

.list__task:first-child {
  border-radius: $module $module 0 0 ;
  border-top: 1px solid transparent;
}

.task__form {
  padding-left: $module;
  height: $supermodule;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  .form__text--unstriked {
    background-color: transparent;
    width: 100%;
    color: $black;
    padding-right: 100%;
    margin-right: -32px;
  }
  .form__text--striked {
    color: $black;
    padding-right: 100%;
    margin-right: -32px;
    background-color: transparent;
    text-decoration: line-through;
    width: 100%;
  }
  .form__remove {
    width: $supermodule;
    color: $black;
    background-color: transparent;
  }
}

.task__form:hover {
  .form__text--unstriked {
    color: blue;
  }
  .form__text--striked {
    color: blue;
  }
}

.form__remove:hover {
  color: blue;
}

.list__reset {
  width: 100%;
  height :$supermodule;
  list-style: none;
  border-top: 1px solid $black;
  border-radius: 0 0 $module $module;
  background-color: lightgray;
}

.list__reset:hover {
  color: blue;
}