@import "../utils/variables.scss";

.main {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  max-width: 720px;
  margin: 0 auto;
  .main__list {
    width: 100%;
    list-style: none;
  }
}

.list__task {
  height: 32px;
  padding: 0 8px;
  border-bottom: 1px solid $pantoneCoolGray8C;
  width: 100%;
}

.task__form {
  height: 100%;
  font-size: 16px;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  .form__text--unstriked {
    font: 16px;
    background-color: transparent;
    width: 100%;
    color: $pantoneNeutralBlackC;
    padding-right: 100%;
    margin-right: -32px;
    white-space: nowrap;
  }
  .form__text--striked {
    font: 16px;
    background-color: transparent;
    width: 100%;
    color: $pantoneCoolGray8C;
    padding-right: 100%;
    margin-right: -32px;
    white-space: nowrap;
    text-decoration: line-through;
  }
  .form__remove {
    font-size: 16px;
    font-weight: bold;
    color: transparent;
  }
  .form__remove {
    font-size: 16px;
    font-weight: bold;
    color: $pantoneBlue072C;
  }
}
